<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>QUIZ express</h1>
    <p>Autora: Beatriz Esteban</p>
  </body>
</html>
