<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>QUIZ express</h1>
    <p>Bienvenido al Quiz Express</p>
    <nav>
    	<ol>
    		<li>
    			<a href="credits">Credits</a>
    		</li>
    	</ol>
    </nav>
  </body>
</html>
